* {
	margin:0;
	padding:0;
}

body{
	font: normal 16px Arial, Helvetica, sans-serif;
}

h1, h3{
	font: normal 24px 'Open Sans', Arial, Helvetica, sans-serif;
}

@media (max-width: 768px){

    body{
        font: normal 13px Arial, Helvetica, sans-serif;
    }

    h1, h3{
        font: normal 18px 'Open Sans', Arial, Helvetica, sans-serif;
    }
}

/*-----------------
	The Header
------------------*/

header {
	position: fixed;
	top: 0;
	left:0;
	right:0;

	height: 80px;
    z-index: 100;

	background-color: #282b2c;
	padding: 20px 40px;
	color: #fff;
	box-shadow: 0 3px 2px rgba(0, 0, 0, 0.1);
}

header h1 {
    margin: 0;
}

header .home {
	color: #ffffff;
	text-decoration: none;
}

@media (max-width: 768px) {

    header {
        height: 40px;
        padding: 5px 20px;
    }
}

/*-----------------
	Main Content
------------------*/


.main-content{
	box-sizing: border-box;
	text-align: left;
	margin-top: 80px;
	padding: 10px 5%;
}

.main-content h3{
	font-size: 28px;
	color:  #5a96b9;
	padding-bottom: 20px;
}

.breadcrumb {
    background-color: #ffffff;
}

@media (max-width: 768px) {

    .main-content{
        margin-top: 40px;
        padding: 10px 25px;
    }

    .breadcrumb {
        margin: 0;
    }
}

.page{
    display: none;
}

.page.visible{
    display: block;
}

/*---------------------------
	Error Page
----------------------------*/

.error{
    pointer-events: none;
	left: 0;
	width: 100%;
}

.error h3{
	font-size: 40px;
}


/*---------------------------
	Advertisers Page
----------------------------*/
.main-page{
    text-align: left;
    left: 0;
}

.page-params{
    margin-top: 20px;
    margin-bottom: 20px;
}

.page-params .pager{
    margin: 0;
}

.page-params .pager-description{
    margin: 0;
}

.table-header{
    margin-top: 20px;
    margin-bottom: 20px;
    vertical-align: middle;
}

.table-header h1{
    margin: 0;
    padding-top: 5px;
    padding-bottom: 5px;
}

.table>tbody>tr>td,
.table>thead>tr>th{
    vertical-align: middle;
}

.table td.fit,
.table th.fit {
    white-space: nowrap;
    width: 1%;
}

.vcenter{
    display: inline-block;
    vertical-align: middle;
    float: none;
    margin-right:-4px;
}

.table {
    margin: 0;
}

@media (max-width: 768px) {

    .table>tbody>tr>td {
        padding: 2px;
    }

    .btn, .form-control {
        font-size: 12px;
        padding: 4px 8px;
        height: auto;
    }

    .table-responsive {
        margin: 0;
    }

    .table-header {
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .table-header h1 {
        padding: 0;
    }

    .table-header .input-group {
        width: 120px;
    }

    .page-params {
        margin-top: 10px;
    }

    .page-params .pager {
        float: none !important;
    }

    .page-params .form-control {
        width: auto;
    }

    .modal .has-feedback .form-control-feedback{
        top: 18px;
    }
}

.modal .form-group{
    position: relative;
}

.entity-content{
    padding-bottom: 10px;
}

.targeting{
    margin-top: 10px;
    vertical-align: middle;
}

.targeting p{
    margin-top: 5px;
}

.targeting-day{
    padding-left: 20px;
}

.modal-schedule{
    width: 80%;
    margin-left: 10%;
    margin-top: 30px;
}

.schedule{
    table-layout: fixed;
    width: 0;
}

.schedule th, td{
    overflow: hidden;
    height: 30px;
    width: 30px;
}

.schedule .cell{
    border: solid 1px;
    background-color: lightsalmon;
    opacity: 0.8;
}

.schedule .enabled{
    background-color: lightgreen;
}

.schedule .toggle{
    padding-left: 10px;
}

.schedule-list{
    margin-top: 20px;
}