<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

	<title>Campaign Manager</title>

    <link rel="shortcut icon" type="image/png" href="images/favicon.png">

    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
          crossorigin="anonymous">

    <!-- Bootstrap datetimepicker CSS -->
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/css/bootstrap-datetimepicker.min.css">

	<link href="http://fonts.googleapis.com/css?family=Open+Sans:400" rel="stylesheet">

    <!-- Custom CSS -->
	<link href="css/styles.css" rel="stylesheet">
</head>

<body>

	<header>
		<h1><a class="home" href="/">Campaign Manager</a></h1>
	</header>

    <!-- Create Modal -->
    <div class="modal fade" id="createModal" tabindex="-1" role="dialog" aria-labelledby="createModal"></div>

    <!-- Update Modal -->
    <div class="modal fade" id="updateModal" tabindex="-1" role="dialog" aria-labelledby="editModal"></div>

    <!-- Delete Modal -->
    <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModal"></div>

    <div class="main-content">

        <ol id="navigation-breadcrumb" class="breadcrumb"></ol>

        <div class="main-page page">

            <div class="row entity-content"></div>

            <div class="row table-header">

                <div class="col-sm-7 col-xs-4">
                    <h1 class="table-title"></h1>
                </div>

                <div class="col-sm-2 col-xs-3">
                    <button class="btn btn-default btn-create">
                        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>  New
                    </button>
                </div>

                <div class="col-sm-3 col-xs-5">
                    <div class="input-group search-form pull-right">
                        <div class="input-group-btn">
                            <button type="button" class="btn btn-default search-btn">
                                <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                            </button>
                        </div>
                        <input type="text" class="form-control" id="search-input" placeholder="Search">
                        <div class="input-group-btn">
                            <button type="button" class="btn btn-default clear-search-btn">
                                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                            </button>
                        </div>
                    </div>
                </div>

            </div>

            <div class="table-responsive">
                <table class="table table-striped table-condensed table-bordered main-table"></table>
            </div>

            <div class="row page-params">

                <div class="col-sm-5 col-xs-5 vcenter">
                    <form class="form-inline">
                        <div class="form-group">
                            <label for="page-size">Page size</label>
                            <select class="form-control" id="page-size">
                                <option>10</option>
                                <option>25</option>
                                <option>50</option>
                            </select>
                        </div>
                    </form>
                </div>

                <div class="col-sm-4 col-xs-7 vcenter">
                    <p class="pager-description pull-right"></p>
                </div>

                <div class="col-sm-3 col-xs-12 vcenter">
                    <ul class="pager pull-right" id="pager">
                        <li class="previous disabled"><a class="previous-link" href="">Previous</a></li>
                        <li class="next disabled"><a class="next-link" href="">Next</a></li>
                    </ul>
                </div>

            </div>

        </div>

        <div class="creative-page page"></div>

		<div class="error-page page">
			<h3>Sorry, something went wrong :(</h3>
		</div>

	</div>

    <script id="advertisers-table-template" type="x-handlebars-template">
        <thead>
            <tr>
                <th class="col-xs-1">Id</th>
                <th class="col-xs-3">Name</th>
                <th class="col-xs-5">Description</th>
                <th class="col-xs-3">Site</th>
                <th class="fit">Action</th>
            </tr>
        </thead>
        <tbody>
            {{#each this}}
            <tr data-index="{{id}}">
                <td>{{id}}</td>
                <td><a href="#advertisers/{{id}}">{{name}}</a></td>
                <td>{{description}}</td>
                <td>{{site}}</td>
                <td class="fit">
                    <button class="btn btn-warning btn-sm btn-edit">
                        <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                    </button>
                    <button class="btn btn-danger btn-sm btn-delete">
                        <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                    </button>
                </td>
            </tr>
            {{/each}}
        </tbody>
    </script>

    <script id="advertisers-create-template" type="x-handlebars-template">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h1 class="modal-title">Create new Advertiser</h1>
                </div>
                <div class="modal-body">
                    <form class="create-form">
                        <div class="form-group not-null">
                            <label for="createAdvertiserName">Name</label>
                            <input type="text" class="form-control" name="name"
                                   id="createAdvertiserName" placeholder="Name">
                        </div>
                        <div class="form-group">
                            <label for="createAdvertiserDescription">Description</label>
                            <textarea class="form-control" rows="3" name="description"
                                      id="createAdvertiserDescription" placeholder="Description"></textarea>
                        </div>
                        <div class="form-group">
                            <label for="createAdvertiserSite">Site</label>
                            <input type="text" class="form-control" name="site"
                                   id="createAdvertiserSite" placeholder="Site">
                        </div>
                        <button type="submit" hidden="hidden"></button>
                    </form>
                    <div class="alert alert-danger fade in error-alert" role="alert" style="display:none"></div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary submit-btn">Create</button>
                </div>
            </div>
        </div>
    </script>

    <script id="advertisers-update-template" type="x-handlebars-template">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h1 class="modal-title">Update Advertiser "{{name}}"</h1>
                </div>
                <div class="modal-body">
                    <form class="update-form" data-index="{{id}}">
                        <div class="form-group not-null">
                            <label for="updateAdvertiserName">Name</label>
                            <input type="text" class="form-control" name="name"
                                   id="updateAdvertiserName" placeholder="Name" value="{{name}}">
                        </div>
                        <div class="form-group">
                            <label for="updateAdvertiserDescription">Description</label>
                            <textarea class="form-control" rows="3" name="description" id="updateAdvertiserDescription"
                                      placeholder="Description">{{description}}</textarea>
                        </div>
                        <div class="form-group">
                            <label for="updateAdvertiserSite">Site</label>
                            <input type="text" class="form-control" name="site"
                                   id="updateAdvertiserSite" placeholder="Site" value="{{site}}">
                        </div>
                        <button type="submit" hidden="hidden"></button>
                    </form>
                    <div class="alert alert-danger fade in error-alert" role="alert" style="display:none"></div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary submit-btn">Save changes</button>
                </div>
            </div>
        </div>
    </script>


    <script id="campaigns-table-template" type="x-handlebars-template">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Description</th>
                <th>Status</th>
                <th>Start date</th>
                <th>End date</th>
                <th>Lifetime Budget</th>
                <th>Lifetime ImpCap</th>
                <th class="fit">Action</th>
            </tr>
        </thead>
        <tbody>
            {{#each this}}
            <tr data-index="{{id}}">
                <td>{{id}}</td>
                <td><a class="entity-name-link" href="v1/campaigns/{{id}}">{{name}}</a></td>
                <td>{{description}}</td>
                <td>
                    <div class="btn-group">
                        <button type="button" class="btn dropdown-toggle status-btn"
                                data-toggle="dropdown" data-status="{{status.status}}" aria-haspopup="true"
                                aria-expanded="false">{{status.status}} <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li><a class="campaign-activate" href="#activate">Activate</a></li>
                            <li><a class="campaign-pause" href="#pause">Pause</a></li>
                            <li><a class="campaign-end" href="#end">End</a></li>
                        </ul>
                    </div>
                </td>
                <td>{{startDate}}</td>
                <td>{{endDate}}</td>
                <td>{{lifetimeBudget}}</td>
                <td>{{lifetimeImpCap}}</td>
                <td class="fit">
                    <button class="btn btn-warning btn-sm btn-edit">
                        <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                    </button>
                    <button class="btn btn-danger btn-sm btn-delete">
                        <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                    </button>
                </td>
            </tr>
            {{/each}}
        </tbody>
    </script>

    <script id="campaigns-edit-template" type="x-handlebars-template">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    {{#if this}}
                        <h1 class="modal-title">Update Campaign "{{name}}"</h1>
                    {{else}}
                        <h1 class="modal-title">Create new Campaign</h1>
                    {{/if}}
                </div>
                <div class="modal-body">
                    <form class="create-form">
                        <div class="form-group not-null">
                            <label for="editCampaignName">Name</label>
                            <input type="text" class="form-control" name="name"
                                   id="editCampaignName"
                                   {{#if this}} value="{{name}}" {{/if}}>
                        </div>
                        <div class="form-group">
                            <label for="editCampaignDescription">Description</label>
                            <textarea class="form-control" rows="3" name="description"
                                      id="editCampaignDescription">{{#if this}}{{description}}{{/if}}</textarea>
                        </div>
                        <div class="form-group not-null">
                            <label for="editCampaignStartDate">Start date</label>
                            <input type="text" class="form-control date" name="startDate"
                                   id="editCampaignStartDate" {{#if this}} value="{{startDate}}" {{/if}}>
                        </div>
                        <div class="form-group not-null">
                            <label for="editCampaignEndDate">End date</label>
                            <input type="text" class="form-control date" name="endDate"
                                   id="editCampaignEndDate" {{#if this}} value="{{endDate}}" {{/if}}>
                        </div>
                        <div class="form-group not-null">
                            <label for="editCampaignBudget">Lifetime Budget</label>
                            <input type="number" class="form-control" name="lifetimeBudget"
                                   id="editCampaignBudget" min="1" {{#if this}} value="{{lifetimeBudget}}" {{/if}}>
                        </div>
                        <div class="form-group not-null">
                            <label for="editCampaignImpCap">Lifetime Impression Capacity</label>
                            <input type="number" class="form-control" name="lifetimeImpCap"
                                   id="editCampaignImpCap" min="1" {{#if this}} value="{{lifetimeImpCap}}" {{/if}}>
                        </div>
                        <button type="submit" hidden="hidden"></button>
                    </form>
                    <div class="alert alert-danger fade in error-alert" role="alert" style="display:none"></div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary submit-btn">
                        {{#if this}}Save Changes{{else}}Create{{/if}}</button>
                </div>
            </div>
        </div>
    </script>

    <script id="adgroups-table-template" type="x-handlebars-template">
        <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Description</th>
            <th class="fit">Action</th>
        </tr>
        </thead>
        <tbody>
        {{#each this}}
            <tr data-index="{{id}}">
                <td>{{id}}</td>
                <td><a href="v1/adgroups/{{id}}">{{name}}</a></td>
                <td>{{description}}</td>
                <td class="fit">
                    <button class="btn btn-warning btn-sm btn-edit">
                        <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                    </button>
                    <button class="btn btn-danger btn-sm btn-delete">
                        <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                    </button>
                </td>
            </tr>
        {{/each}}
        </tbody>
    </script>
    <script id="adgroups-edit-template" type="x-handlebars-template">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    {{#if this}}
                    <h1 class="modal-title">Update AdGroup "{{name}}"</h1>
                    {{else}}
                    <h1 class="modal-title">Create new AdGroup</h1>
                    {{/if}}
                </div>
                <div class="modal-body">
                    <form class="create-form">
                        <div class="form-group not-null">
                            <label for="editAdGroupName">Name</label>
                            <input type="text" class="form-control" name="name"
                                   id="editAdGroupName"
                                   {{#if this}} value="{{name}}" {{/if}}>
                        </div>
                        <div class="form-group">
                            <label for="editAdGroupDescription">Description</label>
                            <textarea class="form-control" rows="3" name="description"
                                    id="editAdGroupDescription">{{#if this}}{{description}}{{/if}}</textarea>
                        </div>
                        <button type="submit" hidden="hidden"></button>
                    </form>
                    <div class="alert alert-danger fade in error-alert" role="alert" style="display:none"></div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary submit-btn">
                        {{#if this}}Save Changes{{else}}Create{{/if}}</button>
                </div>
            </div>
        </div>
    </script>

    <script id="single-adgroup-template" type="x-handlebars-template">
        <div class="col-md-6">
            <h1>AdGroup</h1>
            <p><b>Id</b>: {{id}}</p>
            <p><b>Name</b>: {{name}}</p>
            <p><b>Description</b>: {{description}}</p>
        </div>
        <div class="col-md-6">
            <h1>Targeting</h1>
            <div class="row targeting targeting-browser">
                <div class="col-xs-6">
                    <b>Browsers</b>
                    <button class="btn btn-default btn-sm">
                        <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                    </button>
                </div>
                <div class="col-xs-6">
                    <p>{{#each browsers}}{{this}} {{/each}}</p>
                </div>
            </div>
            <div class="row targeting targeting-device">
                <div class="col-xs-6">
                    <b>Device Types</b>
                    <button class="btn btn-default btn-sm">
                        <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                    </button>
                </div>
                <div class="col-xs-6">
                    <p>{{#each devices}}{{this}} {{/each}}</p>
                </div>
            </div>
            <div class="row targeting targeting-os">
                <div class="col-xs-6">
                    <b>Operating Systems</b>
                    <button class="btn btn-default btn-sm">
                        <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                    </button>
                </div>
                <div class="col-xs-6">
                    <p>{{#each operatingSystems}}{{this}} {{/each}}</p>
                </div>
            </div>
            <div class="row targeting targeting-schedule">
                <div class="col-xs-12">
                    <b>Scheduling</b>
                    <button class="btn btn-default btn-sm">
                        <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                    </button>
                </div>
                {{#each schedule}}
                <div class="col-xs-6">
                    <p class="targeting-day">{{dayOfWeek}}</p>
                </div>
                <div class="col-xs-6">
                    <p class="targeting-hours">{{#each hours}}{{startHour}}-{{endHour}} {{/each}}</p>
                </div>
                {{/each}}
            </div>
        </div>
    </script>
    <script id="targeting-browsers-template" type="x-handlebars-template">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h1 class="modal-title">Browser Targeting</h1>
                </div>
                <div class="modal-body col-xs-12">
                    <div class="col-xs-10 col-xs-offset-1">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th class="col-xs-2"></th>
                                    <th class="col-xs-10">Browsers</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr data-type="CHROME">
                                    <td><input type="checkbox"></td>
                                    <td>Chrome</td>
                                </tr>
                                <tr data-type="FIREFOX">
                                    <td><input type="checkbox"></td>
                                    <td>Firefox</td>
                                </tr>
                                <tr data-type="OPERA">
                                    <td><input type="checkbox"></td>
                                    <td>Opera</td>
                                </tr>
                                <tr data-type="MICROSOFT_IE">
                                    <td><input type="checkbox"></td>
                                    <td>Microsoft IE</td>
                                </tr>
                                <tr data-type="SAFARI">
                                    <td><input type="checkbox"></td>
                                    <td>Safari</td>
                                </tr>
                                <tr data-type="KONQUEROR">
                                    <td><input type="checkbox"></td>
                                    <td>Konqueror</td>
                                </tr>
                                <tr data-type="OTHER">
                                    <td><input type="checkbox"></td>
                                    <td>Other</td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="alert alert-danger fade in error-alert" role="alert" style="display:none"></div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary submit-btn">Save</button>
                </div>
            </div>
        </div>
    </script>
    <script id="targeting-devices-template" type="x-handlebars-template">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h1 class="modal-title">Device Targeting</h1>
                </div>
                <div class="modal-body col-xs-12">
                    <div class="col-xs-10 col-xs-offset-1">
                        <table class="table">
                            <thead>
                            <tr>
                                <th class="col-xs-2"></th>
                                <th class="col-xs-10">Devices</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr data-type="DESKTOP">
                                <td><input type="checkbox"></td>
                                <td>Desktop</td>
                            </tr>
                            <tr data-type="MOBILE">
                                <td><input type="checkbox"></td>
                                <td>Mobile</td>
                            </tr>
                            <tr data-type="TABLET">
                                <td><input type="checkbox"></td>
                                <td>Tablet</td>
                            </tr>
                            </tbody>
                        </table>
                        <div class="alert alert-danger fade in error-alert" role="alert" style="display:none"></div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary submit-btn">Save</button>
                </div>
            </div>
        </div>
    </script>
    <script id="targeting-os-template" type="x-handlebars-template">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h1 class="modal-title">OS Targeting</h1>
                </div>
                <div class="modal-body col-xs-12">
                    <div class="col-xs-10 col-xs-offset-1">
                        <table class="table">
                            <thead>
                            <tr>
                                <th class="col-xs-2"></th>
                                <th class="col-xs-10">Operating Systems</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr data-type="WINDOWS">
                                <td><input type="checkbox"></td>
                                <td>Windows</td>
                            </tr>
                            <tr data-type="LINUX">
                                <td><input type="checkbox"></td>
                                <td>Linux</td>
                            </tr>
                            <tr data-type="OSX">
                                <td><input type="checkbox"></td>
                                <td>OS X</td>
                            </tr>
                            <tr data-type="IOS">
                                <td><input type="checkbox"></td>
                                <td>iOS</td>
                            </tr>
                            <tr data-type="ANDROID">
                                <td><input type="checkbox"></td>
                                <td>Android</td>
                            </tr>
                            <tr data-type="OTHER">
                                <td><input type="checkbox"></td>
                                <td>Other</td>
                            </tr>
                            </tbody>
                        </table>
                        <div class="alert alert-danger fade in error-alert" role="alert" style="display:none"></div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary submit-btn">Save</button>
                </div>
            </div>
        </div>
    </script>
    <script id="targeting-schedule-template" type="x-handlebars-template">
        <div class="modal-schedule" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h1 class="modal-title">DayParting</h1>
                </div>
                <div class="modal-body col-xs-12">
                    <div class="col-sm-10 col-sm-offset-1">
                        <div class="table-responsive">
                            <table class="schedule">
                                <thead></thead>
                                <tbody></tbody>
                            </table>
                        </div>
                        <div class="schedule-list"></div>
                        <div class="alert alert-danger fade in error-alert" role="alert" style="display:none"></div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary submit-btn">Save</button>
                </div>
            </div>
        </div>
    </script>
    <script id="targeting-schedule-list-template" type="x-handlebars-template">
        {{#each this}}
        <div class="col-sm-3 col-xs-6">
            <p class="targeting-day">{{dayOfWeek}}</p>
        </div>
        <div class="col-sm-9 col-xs-6">
            <p class="targeting-hours">{{#each hours}}{{startHour}}-{{endHour}} {{/each}}</p>
        </div>
        {{/each}}
    </script>


    <script id="creatives-table-template" type="x-handlebars-template">
        <thead>
        <tr>
            <th class="col-xs-1">Id</th>
            <th class="col-xs-2">Name</th>
            <th class="col-xs-4">Description</th>
            <th class="col-xs-2">Landing page URL</th>
            <th class="col-xs-1">Width</th>
            <th class="col-xs-1">Height</th>
            <th class="col-xs-1">Type</th>
            <th class="fit">Action</th>
        </tr>
        </thead>
        <tbody>
        {{#each this}}
        <tr data-index="{{id}}">
            <td>{{id}}</td>
            <td><a href="v1/creatives/{{id}}/content">{{name}}</a></td>
            <td>{{description}}</td>
            <td>{{landingPageUrl}}</td>
            <td>{{width}}</td>
            <td>{{height}}</td>
            <td>{{type.type}}</td>
            <td class="fit">
                <button class="btn btn-warning btn-sm btn-edit-content">
                    <span class="glyphicon glyphicon-picture" aria-hidden="true"></span>
                </button>
                <button class="btn btn-warning btn-sm btn-edit">
                    <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                </button>
                <button class="btn btn-danger btn-sm btn-delete">
                    <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                </button>
            </td>
        </tr>
        {{/each}}
        </tbody>
    </script>
    <script id="creatives-edit-template" type="x-handlebars-template">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    {{#if this}}
                    <h1 class="modal-title">Update Creative "{{name}}"</h1>
                    {{else}}
                    <h1 class="modal-title">Create new Creative</h1>
                    {{/if}}
                </div>
                <div class="modal-body">
                    <form class="create-form">
                        <div class="form-group not-null">
                            <label for="editCreativeName">Name</label>
                            <input type="text" class="form-control" name="name"
                                   id="editCreativeName"
                                   {{#if this}} value="{{name}}" {{/if}}>
                        </div>
                        <div class="form-group">
                            <label for="editCreativeDescription">Description</label>
                            <textarea class="form-control" rows="3" name="description"
                                      id="editCreativeDescription">{{#if this}}{{description}}{{/if}}</textarea>
                        </div>
                        <div class="form-group not-null">
                            <label for="editCreativeLandingPageUrl">Landing Page URL</label>
                            <input type="text" class="form-control" name="landingPageUrl"
                                   id="editCreativeLandingPageUrl"
                                   {{#if this}} value="{{landingPageUrl}}" {{/if}}>
                        </div>
                        {{#unless this}}
                        <div class="form-group not-null">
                            <input id="editCreativeContentFile" type="file" class="btn-primary"
                                   title="Select File" name="file">
                        </div>
                        {{/unless}}
                        <button type="submit" hidden="hidden"></button>
                    </form>
                    <div class="alert alert-danger fade in error-alert" role="alert" style="display:none"></div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary submit-btn">
                        {{#if this}}Save Changes{{else}}Create{{/if}}</button>
                </div>
            </div>
        </div>
    </script>
    <script id="creatives-edit-content-template" type="x-handlebars-template">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h1 class="modal-title">Update Creative "{{name}}" content</h1>
                </div>
                <div class="modal-body">
                    <form class="create-form">
                        <div class="form-group not-null">
                            <input id="updateCreativeContentFile" type="file" class="btn-primary"
                                   title="Select File" name="file">
                        </div>
                        <button type="submit" hidden="hidden"></button>
                    </form>
                    <div class="alert alert-danger fade in error-alert" role="alert" style="display:none"></div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary submit-btn">Save Changes</button>
                </div>
            </div>
        </div>
    </script>

    <script id="single-creative-template" type="x-handlebars-template">
        <div class="col-md-6">
            <div class="">
                <h1>Creative</h1>
                <p><b>Id</b>: {{creative.id}}</p>
                <p><b>Name</b>: {{creative.name}}</p>
                <p><b>Description</b>: {{creative.description}}</p>
                <p><b>Landing page URL</b>: {{creative.landingPageUrl}}</p>
                <p><b>Dimensions</b>: {{creative.width}}x{{creative.height}}</p>
                <p><b>Type</b>: {{creative.type.type}}</p>
            </div>

            <div class="">
                <h1>Trackers</h1>
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th class="col-xs-2">Type</th>
                        <th class="col-xs-10">Body</th>
                    </tr>
                    </thead>
                    <tbody>
                    {{#each trackers}}
                    <tr>
                        <td>{{trackerType.type}}</td>
                        <td><samp>{{body}}</samp></td>
                    </tr>
                    {{/each}}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-md-6">
            <h1>Creative content</h1>
            <img src='/v1/creatives/{{creative.id}}/content' class="img-responsive"/>
        </div>
    </script>

    <script id="not-null-status-template" type="x-handlebars-template">
        <span class="help-block"></span>
        <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
    </script>

    <script id="delete-modal-template" type="x-handlebars-template">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h1 class="modal-title">Delete {{type}} "{{name}}"</h1>
                </div>
                <div class="modal-body">
                    <div class="alert alert-danger" role="alert">
                        Are you sure you want to delete this {{type}}?
                    </div>
                    <div class="alert alert-danger fade in error-alert" role="alert" style="display:none"></div>
                </div>
                <div class="modal-footer">
                    <button id="btn-cancel-delete" type="button" class="btn btn-default" data-dismiss="modal">Close
                    </button>
                    <button id="btn-delete-modal" type="button" class="btn btn-danger">Delete</button>
                </div>
            </div>
        </div>
    </script>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.5/handlebars.min.js"></script>
    <script src="https://code.jquery.com/jquery-2.2.4.min.js"
            integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>
    <script type="text/javascript"
            src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.14.1/moment.min.js"></script>
    <script type="text/javascript"
            src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/js/bootstrap-datetimepicker.min.js"></script>
    <script type="text/javascript"
            src="https://cdnjs.cloudflare.com/ajax/libs/Director/1.2.8/director.min.js"></script>
    <script type="text/javascript" src="js/bootstrap.file-input.js"></script>
    <script type="text/javascript" src="js/script.js"></script>

</body>
</html>
